.parent-em{
    font-size:20px;
    padding:30px;
    background:#333;
}
.child-em{
    font-size:3em;
    margin-top:2em;
    background: pink;
}
.root{
    font-size:16px;
}
.box{
    font-size:3em;
    padding:0.5rem;
    background:#f0f0f0;
}
.box-rem{
    font-size:2rem;
    padding:1rem;
    background:whitesmoke;

}

