.product-info{
    background-color: white;
  width: 600px;
  margin: 40px auto;
  padding: 15px;
  border: 2px solid black; /* 🔹 black border around image and text */
  border-radius: 20px;
}
button{
    background-color: rgb(255, 0, 0);
   width: 80px; 
   margin: 4px auto;
   padding: 6px;
   border: 2px solid rgb(255, 0, 0);
   border-radius: 6px;
   font-weight: bold;
  
}
body{
    background-color: rgb(147, 147, 155);
}
h2{
  font-weight: bold;
}
button:hover{
  background-color: rgb(183, 20, 20);
}
